* {
  padding: 0;
  margin: 0;
}
.logo1 {
  fill: red;
  color: red;
  height: 90px;
  width: 150px;
  position: relative;
  left: 120px;
}

.page1 {
  width: 99vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.521)),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/dae1f45f-c2c5-4a62-8d58-6e1b0c6b2d8e/6d1fb8a4-5844-42a4-9b01-1c6c128acf19/IN-en-20240827-TRIFECTA-perspective_WEB_c292a608-cdc6-4686-8dc8-405bfcf753af_small.jpg");
  display: flex;
  position: relative;
}
.container {
  height: 84vh;
  width: 30vw;
  /* border: 2px solid white; */
  color: white;
  background-color: rgba(0, 0, 0, 0.652);
  position: absolute;
  margin: auto;
  bottom: 0px;
  right: 35vw;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
}
.signin {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-weight: bolder;
  font-family: sans-serif;
  padding: 50px 60px;
  padding-bottom: 20px;
}
.email1 {
    background-color: rgba(63, 63, 63, 0.282);
    height: 50px;
    width: 260px;
    padding: 0px 15px;
    margin: 22px 62px;
    margin-bottom: 5px;
    border: 1px solid rgb(97, 97, 97);
    border-radius: 4px;
    color: white;
}
.signbtn{
  background-color: rgba(63, 63, 63, 0.282);
  height: 50px;
  width: 260px;
  padding: 0px 15px;
  margin: 22px 62px;
  margin-bottom: 5px;
  border-radius: 5px;
  color: white;
  font-family: sans-serif;
  background-color: rgb(226, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  transition: all 0.20s ease-in-out;
}
.signbtn:hover{
  background-color: rgb(71, 0, 0);
  color: rgba(255, 255, 255, 0.586);
  cursor: pointer;
}

.or {
  height: 10px;
  width: 260px;
  padding: 0px 15px;
  margin: 22px 62px;
  margin-bottom: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: rgb(186, 183, 183);
  cursor: pointer;
}
.signcode {
    background-color: rgba(63, 63, 63, 0.282);
    height: 50px;
    width: 260px;
    padding: 0px 15px;
    margin: 22px 62px;
    margin-bottom: 5px;
    border: 1px solid rgb(97, 97, 97);
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: rgb(233, 233, 233);
    transition: all 0.25s ease;
}
.signcode:hover {
  cursor: pointer;
  background-color: rgb(73, 73, 73);
}
.remember {
  height: 10px;
  width: 260px;
  padding: 0px 15px;
  margin: 22px 62px;
  margin-bottom: 5px;
  color: white;
  font-family: sans-serif;
  color: rgb(186, 183, 183);
}

.last{
  font-size: 12px;
}

.page2 {
  height: 20vh;
  background-color: black;
  display: flex;
  padding-left: 30px;
  padding: 170px 170px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 25px;
  color: rgb(200, 192, 192);
  font-family: sans-serif;
  font-size: 15px;
}
.h1 {
  color: white;
}
.container2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px 10px;
  text-decoration: underline;
  cursor: pointer;
}
.a {
  padding: 0;
  margin: 0;
  color: white;
}
.lang {
  padding: 5px 12px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid rgb(113, 113, 113);
  background-color: rgb(32, 28, 28);
  color: white;
  border-radius: 6px;
  font-family: sans-serif;
}
